@use "sass:math";
//<МИКСИНЫ>=========================================================
@import "resources";
//</МИКСИНЫ>========================================================

//<ШРИФТЫ>=============================================================
//<Подключаем шрифты>==================================================
@import "fonts";
//</Подключаем шрифты>================================================

//<Иконочные шрифты>=================================================
@import "icons";
//</Иконочные шрифты>================================================
//<ШРИФТЫ>=============================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>========================================
@import "null";

body {
	color: $dark;
	background-color: $white;
	position: relative;

	@media (max-width:($md1+px)) {
		&::before {
			content: '';
			position: absolute;
			background: rgba(0, 0, 0, 0.6);
			height: 100%;
			width: 100vw;
			visibility: hidden;
			left: 0;
			top: 0;
			z-index: 5;
			display: block;
			transition: opacity 0.3s ease 0s;
		}
	}

	&._lock {
		overflow: hidden;

		@media (max-width:($md1+px)) {
			&::before {
				opacity: 1;
				pointer-events: auto;
				visibility: visible;
			}
		}
	}
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	position: relative;

	&._loaded {}
}

.page {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>========================================

//<ОСНОВНАЯ СЕТКА>========================================================
.container {
	max-width: ($maxWidthContainer + px);
	margin: 0 auto;

	@media (max-width: ($md1 + px)) {
		padding: 0 30px;
	}

	@media (max-width: ($md4+px)) {
		padding: 0 15px;
	}
}

//</ОСНОВНАЯ СЕТКА>======================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "ui";
@import "forms";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ КОМПОНЕНТОВ>===========================================================================
@import "./components/header";
@import "./components/footer";
// ===============home============================================
@import "./components/kategories";
@import "./components/banner";
@import "./components/popular";
// ===============home=================================================
@import "./components/catalog";
@import "./components/product-page";
//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ КОМПОНЕНТОВ>===========================================================================