<footer class="footer">
	<div class="footer__container container">
		<div class="footer__body">
			<div class="footer__left">
				<div class="footer__logo"><a href="#" target="_blank"><img src="img/footer/logo-sputnik-gear.svg" alt="Логотип"></a></div>
				<div class="footer__row">
					<div class="footer__label">Долучайтесь у соцмережах</div>
					<div class="footer__links social">
						<a href="#" target="_blank" class="ic-facebook"></a>
						<a href="#" target="_blank" class="ic-instagram"></a>
					</div>
				</div>
			</div>
			<div class="footer__right">
				<ul class="footer__list">
					<li class="footer__item">
						<span class="footer__span">Про компанію</span>
						<ul class="footer__sublist">
							<li class="footer__subitem"><a href="#" target="_blank" class="footer__sublink">Наша місія</a></li>
							<li class="footer__subitem"><a href="#" target="_blank" class="footer__sublink">Блог</a></li>
							<li class="footer__subitem"><a href="#" target="_blank" class="footer__sublink">Контакти</a></li>
							<li class="footer__subitem"><a href="#" target="_blank" class="footer__sublink">Умови використання</a></li>
							<li class="footer__subitem"><a href="#" target="_blank" class="footer__sublink">Політика конфіденційності</a></li>
						</ul>
					</li>
					<li class="footer__item">
						<span class="footer__span">Про товар</span>
						<ul class="footer__sublist">
							<li class="footer__subitem"><a href="#" target="_blank" class="footer__sublink">Фотогаларея</a></li>
							<li class="footer__subitem"><a href="#" target="_blank" class="footer__sublink">Відеогалерея</a></li>
							<li class="footer__subitem"><a href="#" target="_blank" class="footer__sublink">Ціни</a></li>
						</ul>
					</li>
					<li class="footer__item">
						<span class="footer__span">Споживачу</span>
						<ul class="footer__sublist">
							<li class="footer__subitem"><a href="#" target="_blank" class="footer__sublink">Як купити</a></li>
							<li class="footer__subitem"><a href="#" target="_blank" class="footer__sublink">Новини</a></li>
							<li class="footer__subitem"><a href="#" target="_blank" class="footer__sublink">Особистий кабінет</a></li>
							<li class="footer__subitem"><a href="#" target="_blank" class="footer__sublink">Каталог</a></li>
						</ul>
					</li>
					<li class="footer__item">
						<span class="footer__span">🔥Не пропустіть горячі пропозиції!</span>
						<ul class="footer__sublist">
							<li class="footer__subitem"><a href="#" target="_blank" class="footer__sublink">Підписуйтесь на новини та дізнавайтеся про найгорячіші пропозиції першими</a></li>
						</ul>
						<form action="#" id="form-email" class="footer__form form-email" method="POST" novalidate="novalidate">
							<div class="form-email__line">
								<input id="email" class="form-email__input input" type="email" name="Email" placeholder="Введіть Ваш Email">
								<button form="form-email" class="form-email__button button-form-min"><span class="ic-arrow-long"></span></button>
							</div>
						</form>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer__bottom">
		<div class="footer__container container">
			<div class="footer__line">
				<div class="footer__wrap">
					<div class="footer__lang lang">
						<a href="#" class="lang__link active">ua</a>
						<a href="#" class="lang__link">en</a>
					</div>
					<div class="footer__text">Company name copyrirht © 2022</div>
				</div>
				<div class="footer__text-icon">Created by <span class="ic-owl"></span></div>
			</div>
		</div>
	</div>
</footer>