.banner {
	background-color: $special-black;
	padding: 0px 0px 40px 0px;
	// .banner__container

	&__container {
		padding: 0;
	}

	// .banner__body

	&__body {}

	// .banner__slider

	&__slider {}
}